# .gitignore para un proyecto que utiliza Python y Flutter/Dart
Entorno Virtual de Python

my_venv/
.venv/

# Archivos compilados de Python
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
/coverage/

# Archivos de configuración específicos del entorno
frontend/build/
frontend/.dart_tool/

# Archivos de compilación de Flutter/Dart
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/
frontend/ios/Flutter/.last_build_id

# Archivos generados por el sistema operativo
frontend/android/.gradle/

# Archivos de configuración específicos del entorno
frontend/android/local.properties

# Archivos de compilación de Flutter/Dart
frontend/ios/Flutter/.last_build_id
frontend/ios/.symlinks/

# Archivos generados por el sistema operativo
app..symbols
app..map.json

# Archivos temporales y de caché comunes
*.class
*.log
*.pyc
*.swp
.DS_Store
.build/
.buildlog/
.history

# Archivos de configuración de IDEs comunes
*.iml
.idea/


.vscode/


.atom/
.svn/
.swiftpm/
migrate_working_dir/